<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.dao.FunctionDao" >
  <resultMap id="BaseResultMap" type="com.jp.entity.Function" >
    <id column="functionid" property="functionid" jdbcType="VARCHAR" />
    <result column="functionname" property="functionname" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="VARCHAR" />
    <result column="functionurl" property="functionurl" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="familyid" property="familyid" jdbcType="VARCHAR" />
    <result column="icon" property="icon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      functionid, functionname, parentid, functionurl, description, sort, familyid, icon
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jp.entity.FunctionQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from jp_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    functionid,functionname,parentid,functionurl,description,sort,familyid,icon
    from jp_function
    where functionid = #{functionid,jdbcType=VARCHAR} and familyid = #{familyid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from jp_function
    where functionid = #{functionid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.jp.entity.FunctionQuery" >
    delete from jp_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jp.entity.Function" >
    insert into jp_function (functionid, functionname, parentid, 
      functionurl, description, sort, 
      familyid, icon)
    values (#{functionid,jdbcType=VARCHAR}, #{functionname,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{functionurl,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{familyid,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jp.entity.Function" >
    insert into jp_function
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="functionid != null" >
        functionid,
      </if>
      <if test="functionname != null" >
        functionname,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="functionurl != null" >
        functionurl,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="familyid != null" >
        familyid,
      </if>
      <if test="icon != null" >
        icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="functionid != null" >
        #{functionid,jdbcType=VARCHAR},
      </if>
      <if test="functionname != null" >
        #{functionname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="functionurl != null" >
        #{functionurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="familyid != null" >
        #{familyid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        #{icon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jp.entity.FunctionQuery" resultType="java.lang.Integer" >
    select count(*) from jp_function
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update jp_function
    <set >
      <if test="record.functionid != null" >
        functionid = #{record.functionid,jdbcType=VARCHAR},
      </if>
      <if test="record.functionname != null" >
        functionname = #{record.functionname,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=VARCHAR},
      </if>
      <if test="record.functionurl != null" >
        functionurl = #{record.functionurl,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.sort != null" >
        sort = #{record.sort,jdbcType=INTEGER},
      </if>
      <if test="record.familyid != null" >
        familyid = #{record.familyid,jdbcType=VARCHAR},
      </if>
      <if test="record.icon != null" >
        icon = #{record.icon,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update jp_function
    set functionid = #{record.functionid,jdbcType=VARCHAR},
      functionname = #{record.functionname,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=VARCHAR},
      functionurl = #{record.functionurl,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      sort = #{record.sort,jdbcType=INTEGER},
      familyid = #{record.familyid,jdbcType=VARCHAR},
      icon = #{record.icon,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jp.entity.Function" >
    update jp_function
    <set >
      <if test="functionname != null" >
        functionname = #{functionname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="functionurl != null" >
        functionurl = #{functionurl,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="familyid != null" >
        familyid = #{familyid,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        icon = #{icon,jdbcType=VARCHAR},
      </if>
    </set>
    where functionid = #{functionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jp.entity.Function" >
    update jp_function
    set functionname = #{functionname,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=VARCHAR},
      functionurl = #{functionurl,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      familyid = #{familyid,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR}
    where functionid = #{functionid,jdbcType=VARCHAR}
  </update>
  <!-- 根据角色id查询 功能列表 -->
  <select id="selectFunctionListByRoleid" resultType="com.jp.entity.Function">
  	select 
	fk.functionid, functionname, parentid, functionurl,    
	 icon, sort, description,func_role.functionid as isfunctionid
	from jp_function fk
	left join jp_func_role func_role on fk.functionid = func_role.functionid
	<if test="roleid != null" >
        and func_role.roleid = #{roleid,jdbcType=VARCHAR}
    </if>
    <if test="roleid == null" >
        and 1=2
    </if>
	where fk.familyid = #{familyid} order by fk.sort desc
  </select>
  
  <!-- 根据角色id查询 功能列表 -->
  <select id="selectFunctionListByEbid" resultType="com.jp.entity.Function">
  	select 
	fk.functionid, functionname, parentid, functionurl,    
	 icon, sort, description,func_role.functionid as isfunctionid
	from jp_function fk
	left join jp_function_role func_role on fk.functionid = func_role.functionid
	where fk.familyid = #{familyid}
	<if test="userid != null" >
       and func_role.userid = #{userid,jdbcType=VARCHAR}
    </if>
    <if test="ebid != null" >
        and func_role.ebid = #{ebid,jdbcType=VARCHAR}
    </if>
    <if test="postid != null" >
        and func_role.postid = #{postid,jdbcType=VARCHAR}
    </if>
    <if test="userid == null" >
        and 1=2
    </if>
	order by fk.sort desc
  </select>
  
   <!-- 根据角色id与家族id查询 功能列表 -->
  <select id="selectFunctionListByRoleidAndFamilyid" resultType="com.jp.entity.Function">
  	select DISTINCT
	`function`.functionid, functionname, parentid, functionurl, icon, sort, description
	from jp_function `function`
	inner join jp_func_role func_role on `function`.functionid = func_role.functionid
	where `function`.familyid = #{familyid,jdbcType=VARCHAR}
	<if test="roleid != null" >
        and func_role.roleid = #{roleid,jdbcType=VARCHAR}
    </if>
	order by `function`.sort desc
  </select>
  
  <select id="selectFunctionByUserid" resultType="com.jp.entity.Function">
  	select DISTINCT f.functionid,f.functionname,f.parentid,f.functionurl,f.icon,f.sort,f.description
  	from jp_function f
  	inner join jp_function_role m on f.functionid = m.functionid 
  	where f.familyid =  #{familyid,jdbcType=VARCHAR}
  	<if test="userid != null" >
        and m.userid = #{userid,jdbcType=VARCHAR}
    </if>
    order by f.sort desc
  </select>
  <select id="selectFunctionByUseridAndEbid" resultType="com.jp.entity.Function">
  	select DISTINCT f.functionid,f.functionname,f.parentid,f.functionurl,f.icon,f.sort,f.description
  	from jp_function f
  	inner join jp_function_role m on f.functionid = m.functionid 
  	where f.familyid = #{familyid,jdbcType=VARCHAR}
  	and m.userid = #{userid,jdbcType=VARCHAR}
	and m.ebid = #{ebid,jdbcType=VARCHAR}
 	order by f.sort desc
  </select>
</mapper>