<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jp.dao.SysMationdao">
	<resultMap id="BaseResultMap" type="com.jp.entity.SysMation">
		<id column="mationid" property="mationid" jdbcType="VARCHAR" />
		<result column="mationname" property="mationname"
			jdbcType="VARCHAR" />
		<result column="imgid" property="imgid"
			jdbcType="VARCHAR" />
		<result column="imgurl" property="imgurl"
			jdbcType="VARCHAR" />
		<result column="mationtitle" property="mationtitle"
			jdbcType="VARCHAR" />
		<result column="mationcontent" property="mationcontent"
			jdbcType="VARCHAR" />
		<result column="deleteflag" property="deleteflag"
			jdbcType="INTEGER" />
		<result column="createid" property="createid"
			jdbcType="VARCHAR" />
		<result column="createtime" property="createtime"
			jdbcType="TIMESTAMP" />
		<result column="updateid" property="updateid"
			jdbcType="VARCHAR" />
		<result column="updatetime" property="updatetime"
			jdbcType="TIMESTAMP" />
		<result column="relevanceid" property="relevanceid"
			jdbcType="VARCHAR" />
		<result column="sortid" property="sortid"
			jdbcType="INTEGER" />
		<result column="stick" property="stick"
			jdbcType="INTEGER" />
		<result column="count" property="count"
			jdbcType="INTEGER" />
		<collection property="mationtype" resultMap="roleMap"/>
	</resultMap>
	<resultMap id="roleMap" type="com.jp.entity.MationType">
		<id column="typeid" property="typeid" jdbcType="VARCHAR" />
		<result column="typename" property="typename"
			jdbcType="VARCHAR" />
		<result column="sort" property="sort"
			jdbcType="INTEGER" />
		<result column="createid" property="createid"
			jdbcType="VARCHAR" />
		<result column="createtime" property="createtime"
			jdbcType="TIMESTAMP" />
		<result column="deleteflag" property="deleteflag"
			jdbcType="INTEGER" />
	</resultMap>
	 <!-- <resultMap id="ResultMapWithBLOBs"
		type="com.jp.entity.Notice" extends="BaseResultMap">
		<result column="noticecontent" property="noticecontent"
			jdbcType="LONGVARCHAR" />
	</resultMap> -->
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
			mationid, mationname, imgid, imgurl, mationtitle,
			mationcontent,deleteflag, createid, createtime,
			updateid, updatetime,mationtype
	</sql>
	<!-- <sql id="Blob_Column_List">
		noticecontent
	</sql> -->
	<!-- <select id="selectByExampleWithBLOBs"
		resultMap="ResultMapWithBLOBs"
		parameterType="com.jp.entity.SysMationExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from jp_notice
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select> -->
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.jp.entity.SysMation">
		select * from jp_sys_mation s left join jp_sys_mationtype t on s.relevanceid=t.typeid order by s.stick desc,s.createtime desc
		<!-- <if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" /> -->
		
		<!-- <if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if> -->
		
		<!-- <if test="startRow != null">
			limit #{startRow} , #{pageSize}
		</if> -->
	</select>
	<!-- 类型列表 -->
	<select id="selecttypelist" resultMap="BaseResultMap" parameterType="com.jp.entity.MationType">
		select typeid,typename from jp_sys_mationtype
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		s.mationid,s.relevanceid,s.mationname,s.imgurl,s.mationtitle,s.mationcontent,s.stick,t.typeid,t.typename
		<!-- <include refid="Base_Column_List" /> -->
		from jp_sys_mation s left join jp_sys_mationtype t on  s.relevanceid=t.typeid
		where mationid = #{mationid,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		jp_sys_mation
		where mationid = #{mationid,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.jp.entity.SysMationExample">
		delete from jp_sys_mation
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.jp.entity.SysMation">
		insert into jp_sys_mation
		(mationid, mationname, imgid,
		imgurl, mationtitle, mationcontent,
		deleteflag,createid, createtime, updateid,
		updatetime
		)
		values (#{noticeid,jdbcType=VARCHAR},
		#{mationid,jdbcType=VARCHAR},
		#{imgid,jdbcType=VARCHAR},
		#{imgurl,jdbcType=VARCHAR}, 
		#{mationtitle,jdbcType=VARCHAR},
		#{mationcontent,jdbcType=VARCHAR},
		#{deleteflag,jdbcType=INTEGER},
		#{createid,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP},
		#{updateid,jdbcType=VARCHAR},
		#{updatetime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.jp.entity.SysMation">
		insert into jp_sys_mation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="mationid != null">
				mationid,
			</if>
			<if test="mationname != null">
				mationname,
			</if>
			
			<if test="imgid != null">
				imgid,
			</if>
			<if test="imgurl != null">
				imgurl,
			</if>
			<if test="mationtitle != null">
				mationtitle,
			</if>
			<if test="mationcontent != null">
				mationcontent,
			</if>
			<if test="deleteflag != null">
				deleteflag,
			</if>
			<if test="createid != null">
				createid,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
			<if test="updateid != null">
				updateid,
			</if>
			<if test="updatetime != null">
				updatetime,
			</if>
			<if test="relevanceid != null">
				relevanceid,
			</if>
			<if test="stick != null">
				stick,
			</if>
			<if test="count != null">
				count,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="mationid != null">
				#{mationid,jdbcType=VARCHAR},
			</if>
			<if test="mationname != null">
				#{mationname,jdbcType=VARCHAR},
			</if>
			<if test="imgid != null">
				#{imgid,jdbcType=VARCHAR},
			</if>
			<if test="imgurl != null">
				#{imgurl,jdbcType=VARCHAR},
			</if>
			<if test="mationtitle != null">
				#{mationtitle,jdbcType=VARCHAR},
			</if>
			<if test="mationcontent != null">
				#{mationcontent,jdbcType=VARCHAR},
			</if>
			<if test="deleteflag != null">
				#{deleteflag,jdbcType=INTEGER},
			</if>
			<if test="createid != null">
				#{createid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateid != null">
				#{updateid,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				#{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="relevanceid != null">
				#{relevanceid,jdbcType=TIMESTAMP},
			</if>
			<if test="stick != null">
				#{stick,jdbcType=TIMESTAMP},
			</if>
			<if test="count != null">
				#{count,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.jp.entity.SysMationExample"
		resultType="java.lang.Integer">
		select count(*) from jp_sys_mation
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update jp_sys_mation
		<set>
			<if test="record.mationid != null">
				mationid = #{record.mationid,jdbcType=VARCHAR},
			</if>
			<if test="record.mationname != null">
				mationname = #{record.mationname,jdbcType=VARCHAR},
			</if>
			<if test="record.imgid != null">
				imgid = #{record.imgid,jdbcType=VARCHAR},
			</if>
			<if test="record.imgurl != null">
				imgurl = #{record.imgurl,jdbcType=VARCHAR},
			</if>
			<if test="record.mationtitle != null">
				mationtitle = #{record.mationtitle,jdbcType=VARCHAR},
			</if>
			<if test="record.mationcontent != null">
				mationcontent = #{record.mationcontent,jdbcType=VARCHAR},
			</if>
			<if test="record.deleteflag != null">
				deleteflag = #{record.deleteflag,jdbcType=INTEGER},
			</if>
			<if test="record.createid != null">
				createid = #{record.createid,jdbcType=VARCHAR},
			</if>
			<if test="record.createtime != null">
				createtime = #{record.createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateid != null">
				updateid = #{record.updateid,jdbcType=VARCHAR},
			</if>
			<if test="record.updatetime != null">
				updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	
	<update id="updateByExample" parameterType="map">
		update jp_sys_mation
		set mationid = #{record.mationid,jdbcType=VARCHAR},
		mationname = #{record.mationname,jdbcType=VARCHAR},
		imgid =
		#{record.imgid,jdbcType=VARCHAR},
		imgurl =
		#{record.imgurl,jdbcType=VARCHAR},
		mationtitle =
		#{record.mationtitle,jdbcType=VARCHAR},
		mationcontent =
		#{record.mationcontent,jdbcType=VARCHAR},
		deleteflag =
		#{record.deleteflag,jdbcType=INTEGER},
		createid =
		#{record.createid,jdbcType=VARCHAR},
		createtime =
		#{record.createtime,jdbcType=TIMESTAMP},
		updateid =
		#{record.updateid,jdbcType=VARCHAR},
		updatetime =
		#{record.updatetime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.jp.entity.SysMation">
		update jp_sys_mation
		<set>
			<if test="mationid != null">
				mationid = #{mationid,jdbcType=VARCHAR},
			</if>
			<if test="mationname != null">
				mationname = #{mationname,jdbcType=VARCHAR},
			</if>
			<if test="imgid != null">
				imgid = #{imgid,jdbcType=VARCHAR},
			</if>
			<if test="imgurl != null">
				imgurl = #{imgurl,jdbcType=VARCHAR},
			</if>
			<if test="mationtitle != null">
				mationtitle = #{mationtitle,jdbcType=VARCHAR},
			</if>
			<if test="mationcontent != null">
				mationcontent = #{mationcontent,jdbcType=VARCHAR},
			</if>
			<if test="deleteflag != null">
				deleteflag = #{deleteflag,jdbcType=INTEGER},
			</if>
			<if test="createid != null">
				createid = #{createid,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateid != null">
				updateid = #{updateid,jdbcType=VARCHAR},
			</if>
			<if test="updatetime != null">
				updatetime = #{updatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="relevanceid != null">
				relevanceid = #{relevanceid,jdbcType=TIMESTAMP},
			</if>
			<if test="stick != null">
				stick = #{stick,jdbcType=INTEGER},
			</if>
			<if test="count != null">
				count = #{count,jdbcType=INTEGER},
			</if>
			
		</set>
		where mationid = #{mationid,jdbcType=VARCHAR}
	</update>
	
	<update id="updateByPrimaryKey"
		parameterType="com.jp.entity.SysMation">
		update jp_sys_mation
		set mationid =
		#{mationid,jdbcType=VARCHAR},
		mationname = #{mationname,jdbcType=VARCHAR},
		imgid = #{imgid,jdbcType=VARCHAR},
		imgurl = #{imgurl,jdbcType=VARCHAR},
		mationtitle =
		#{mationtitle,jdbcType=VARCHAR},
		mationcontent =
		#{mationcontent,jdbcType=VARCHAR},
		deleteflag =
		#{deleteflag,jdbcType=INTEGER},
		createid =
		#{createid,jdbcType=VARCHAR},
		createtime =
		#{createtime,jdbcType=TIMESTAMP},
		updateid =
		#{updateid,jdbcType=VARCHAR},
		updatetime =
		#{updatetime,jdbcType=TIMESTAMP},
		
		where mationid = #{mationid,jdbcType=VARCHAR}
	</update>
	
	<delete id="mationDeleteAll">
  		 <foreach collection="array" item="item" index="index" separator=";">
	     delete from  jp_sys_mation
	     where mationid = 
		#{item,jdbcType=VARCHAR}
		</foreach>
  </delete>
  
  <update id="updateCount" parameterType="java.lang.String">
  	update jp_sys_mation set count=count+1 where mationid=#{item,jdbcType=VARCHAR}
  </update>

</mapper>